@media (min-width: 640px) {
    
    .hamburger {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-wrapper {
        flex-direction: row;
    }

    .hero-img, .concert-img {
        width: 100%;
        height: 100vh;
    }
 }