:root {
    --primary-color: #2a0a0a;
    --accent-color: #724007;
    --secondary-color: #a9a9a9;
    --text-color: #ffffff;
    --heading-font: "Orbitron", sans-serif;
    --body-font: "Roboto", Helvetica, sans-serif;

}

.site-title {
    font-family: var(--heading-font);
}

body {
    background-color: #2a0a0a;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



.nav-menu {
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    padding-left: 0;
}

.nav-menu.show {
    display: flex;
}

.hamburger {
    padding: 15px;
    min-width: 48px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
 
.nav-menu a:hover {
    color: #00f3ff; 
    text-shadow: 0 0 10px #00f3ff; 
    background-color: rgba(255, 255, 255, 0.1);
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
}


.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);
    padding-bottom: 1.5rem;
}

footer {
    padding: 2rem;
    background-color: #1a0505;
    color: #ffffff;
    text-align: center;
    border-top: 2px solid #00f3ff;

}

.scroll-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.scroll-bg, .background-photo, .hero-img, .concert-img {
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 400 / 600;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}



.info-box {
    position: relative;
    z-index: 10;
    background: rgba(0, 0, 0);
    color: white;
    font-weight: bold;
    padding: 2rem;
    border-radius: 7px;
    max-width: 80%;
    text-align: center;
    border: 1px solid #00f3ff;

    animation: fade-in-out linear both;
    animation-timeline: view();
    animation-range: entry 20% exit 80%;
}

.info-box h2 {
    font-family: var(--heading-font);
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.info-box p {
    font-family: var(--body-font);
    line-height: 1.5;
}

.nav-menu a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 0.9rem;
    padding: 1rem;
    margin: 10px;
    border: var(--accent-color) solid;
    border-radius: 2rem;
    text-transform: uppercase;
}

.nav-menu a:active {
    border-color: #00f3ff;
    box-shadow: 0 0 10px #00f3ff;
    transition: all 0.2s ease;
}

@keyframes fade-in-out {
    0% {opacity: 0; transform: translateY(20px);}
    30% { opacity: 1; transform: translateY(0);}
    70% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-20px); }
}

@media (max-width: 600px) {
    table {
        font-size: 0.8rem;
    }
    th, td {
        padding: 0.5rem;
    }
}