img{
    display: block;
    margin: 0 auto;
    animation: fade-in 1.5s ease-out;
}

@keyframes fade-in {
    from{
        opacity: 0;
        filter: brightness(0);
    }
    to {
        opacity: 1;
        filter: brightness(1);
    }
}

