* {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: large;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

body{
    
    font-family: acme, Arial, Sans-serif;
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

header{
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
    
    
 
}

header h1 {
    display: flex;
    justify-self: center;
}


.left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
}

main{
background: purple;
grid-column: 2 / 3;
}

.right-sidebar{
    background: yellow;
    grid-column: 3 / 4;
}

footer{
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

