
@media (min-width: 601px) {
    .hero-container {
        position: relative;
    }

    .mobile-icon {
        display: none;
    }

    .desktop-icon {
        display: inline;
        font-size: 2rem;
    }

    .stats-box {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 250px;
        background-color: var(--primary-color);
        color: var(--accent-color);
    }

    .weather-box {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 250px;
        background-color: var(--text-color);
    }
}