header, main, footer {
    max-width: 640px;
    border: solid black 2px;
    background-color: rgb(166, 224, 224);
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem auto;
    justify-self: center;
}


h1 {
    font-size: 2.5rem;
    margin: 1rem auto;
    
}




body{
    font-family: "Roboto", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}